:root{
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
    --fontSize: 15px;

}

*{
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body{
    margin: 0;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.inactive {
    display: none;
}

.header-init{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 30px; 
    font-size: var(--fontSize);  
}

nav{
    display: flex;
    flex-direction: row;
    gap: 64rem
}

.navbar-left{
    margin-left: 21px;
    display: flex;
    align-items: center;
    gap: 69px;
}

.navbar-right-mobile{ 
    display: none;
}

.navbar-left ul, .navbar-right-desktop ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 2rem;
} 

.navbar-left ul li svg{
    margin-left: 5px;
}

span{
    text-decoration: none;
    color: var( --mediumGray);
}

span:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var( --mediumGray);
}

.border{
    border: 2px solid var(--mediumGray);
    border-radius: 15px;
    padding: 7px 20px;
}

section{
    margin: 50px 0 100px;
    padding: 20px 0 20px;
}
.section-init{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin: 0px -4rem;
}

.info{
    place-self: center;
    padding: 0 150px;
}

.info h1{
    font-size: 5rem; 
    color: var(--almostBlack);
    line-height: 90px;
    width: 32rem;
}

.info p {
    font-size: 20px; 
    color: var(--mediumGray);
    width: 30rem;
    margin-bottom: 80px;
}

.info-button {
    border-color: var(--almostWhite);
    border-radius: 15px;
    padding: 15px 25px;
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    font-size: var(--fontSize); 
}

.info-brands{
    margin-top: 7rem;
    display: flex;
    gap: 30px;
}

.section-init img{
    width: 40rem;
    height: 45rem;
}

.Container-features {
    width: 9rem;
    height: 10rem;
    position: absolute;
    top: 70px;
    left: 120px;
    border-radius: 10px;
    box-shadow:  0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: flex;
    align-items: center;   
}

.Ready-features {
    font-size: 12px; 
}

.Ready-features ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
    align-items: center; 
}

.Ready-features ul li{
    display: flex;
    align-items: center;
    gap: 12px
}

.Container-company {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    box-shadow:  0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    top: 70px;
    left: 320px;
    display: flex;
    align-items: center;
}

.Ready-company{
    font-size: 12px; 
}

.Ready-company ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
    align-items: center; 
}

@media (max-width: 640px){
    .navbar-left ul{
        display: none;
    }

    .navbar-right-desktop ul{
        display: none;
    }

    .navbar-right-mobile{
        display: block;
    }
}