:root{
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
    --fontSize: 15px;

}

*{
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body{
    position: relative;
    margin: 0;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

.inactive {
    display: none;
}

.header-init{
    margin: 0 30px; 
    font-size: var(--fontSize);  
    padding: 12px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 64rem
}

.navbar-left{
    margin-left: 21px;
    display: flex;
    align-items: center;
    gap: 69px;
}

.navbar-left a{
    text-decoration: none;
}

.navbar-right-mobile img {
    position: absolute;
    width: 4rem;
}

.navbar-left ul, .navbar-right-desktop ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 2rem;
} 

.navbar-left ul li img{
    margin-left: 5px;
    width: 13px;
}

.navbar-right-mobile{
    display: none;
}

span{
    text-decoration: none;
    color: var( --mediumGray);
}

span:hover{
    cursor: pointer;
}

.border{
    border: 2px solid var(--mediumGray);
    border-radius: 15px;
    padding: 7px 20px;
}

section{
    margin: 28px 0 100px;
    padding: 20px 0 20px;
}

.section-init{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin: 0px -4rem;
}

.info{
    place-self: center;
    padding: 0 150px;
}

.info h1{
    font-size: 5rem; 
    color: var(--almostBlack);
    line-height: 90px;
    width: 32rem;
}

.info p {
    font-size: 20px; 
    color: var(--mediumGray);
    width: 30rem;
    margin-bottom: 80px;
}

.info-button {
    border-color: var(--almostWhite);
    border-radius: 15px;
    padding: 15px 25px;
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    font-size: var(--fontSize); 
    width: 12rem;
}

.info-brands{
    margin-top: 7rem;
    display: flex;
    gap: 30px;
}

.section-init .heroDesktop{
    width: 40rem;
    height: 45rem;
}

.section-init .heroMobile{
    display: none;
}

.Container-features {
    width: 9rem;
    height: 10rem;
    position: absolute;
    top: 70px;
    left: 10rem;
    border-radius: 10px;
    box-shadow:  0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    font-size: 12px;  
    background-color: white;  
}

.Container-features ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
    flex-direction: column;
    gap: 16px;
}

.Container-features ul li{
    display: flex;
    align-items: center;
    gap: 12px;
}

.Container-features a {
    text-decoration: none;
    color: var( --mediumGray);
    display: flex;
    align-items: center;
}

.Container-company {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    box-shadow:  0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    top: 70px;
    left: 320px;
    display: flex;
    align-items: center;
    background-color: white; 
    font-size: 12px; 
}

.Container-company ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
    align-items: flex-start; 
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.Container-company a{
    text-decoration: none;
    color: var( --mediumGray);
}

.Menu {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 30rem;
}

.menuUl {
    position: absolute;
    list-style: none;
    top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-size: 25px;  
    color: var( --mediumGray);
}

.menuUl li {
    position: relative;
}

.menuUl a{
    text-decoration: none;
}

.menuUl li img{
    margin-left: 5px;
    width: 24px;
}

.containerMenuMobile{
    position: absolute;
    background-color: hsla(0, 0%, 8%, 0.402);
    top: 0;
    height: 100%;
    width: 100vh;
    display: flex;
    justify-content: end;
} 

.Container-featuresMobile {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 23px;
    margin: 44px;
}

.Container-featuresMobile ul{
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    gap: 39px;
}

.Container-featuresMobile ul li{
    display: flex;
    align-items: center;
    gap: 12px
}

.Container-featuresMobile a{
    text-decoration: none;
    color: var(--mediumGray);
    display: flex;
    align-items: center;
}

.Container-featuresMobile li img {
    height: 34px;
    width: 34px;
}

.Container-companyMobile {
    position: relative; 
    display: flex;
    align-items: center;
    font-size: 23px;
    margin: 44px;
}

.Container-companyMobile ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    gap: 39px;
}

.Container-companyMobile ul li{
    display: flex;
    align-items: center;
    gap:12px

}

.Container-companyMobile a{
    text-decoration: none;
    color: var(--mediumGray);
}

@media (max-width: 640px){
    .header-init{
        margin: 0 105px;
    }

    nav{
        gap: 34rem;
        margin-top: 49px;
    }

    .navbar-left{
        margin-left: 1px;
    }

    .navbar-left ul{
        display: none;
    }

    .navbar-left svg{
        transform: scale(2.5);
    }

    .navbar-right-desktop ul{
        display: none;
    }

    .navbar-right-mobile{
        display: block;
    }

    .section-init{
        grid-template-columns: repeat(1, 1fr);
    }

    .section-init .heroDesktop{
        display: none;
    }

    .section-init .heroMobile{
        display: block;
        width: 48.3rem;
        height: 39rem;
        margin: 0 99px;
    }

    .info{
        grid-row-start: 2;
        text-align: center;
        padding: 0px;
    }

    .info h1{
        font-size: 4.1rem;
        text-align: center;
        width: auto;
    }

    .info p {
        font-size: 1.8rem; 
        text-align: center;
        width: 568px;
        margin: 0 auto 69px;
    }

    .info-button{
        font-size: 30px;
        padding: 25px 30px;
    }
}